<mat-toolbar color="primary">
  <span>Expense Tracker</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon> Home
  </button>
  <button mat-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </button>
  <button mat-button routerLink="/expenses">
    <mat-icon>list</mat-icon> Expenses
  </button>
  <button mat-button routerLink="/reports">
    <mat-icon>assessment</mat-icon> Reports
  </button>
  <button mat-button routerLink="/add-expense">
    <mat-icon>add</mat-icon> Add Expense
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
